/*changes of the layout of the header section*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .links {
    display: flex;
    align-items: center;
}

ul {
    gap: 10px;
    display: flex;
}
