/*changes of the layout of the header section*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .links {
    display: flex;
    align-items: center;
}

ul {
    gap: 10px;
    display: flex;
}

/*changes of the layout information section*/
.information {
    text-align: center;
}
.title {
    margin-bottom: 32px;
}

.sub-information {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    max-width: 160px;
}