/*changes of the theme of the header section*/

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;

}

li {
    color: #E5E7EB;
    list-style-type: none;
    font-size: 18px;
}

h1 {
    color: #F9fAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-main-text {
    color: #E5E7EB;
    font-size: 18px;
}

/*changes of the information theme section*/

.title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.text {
    color: #1f2937;
    font-size: 18px;
}

/*changes of the quote theme section*/
.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.attribution {
    text-align: right;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
}

/*changes of the call to action theme section*/
.call {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.sign {
    font-size: 18px;
    color: white;
}

/*changes of the footer theme section*/
.footer-text {
    color: white;
    font-size: 18px;
    text-align: center;
}
